In [1]:
import pandas as pd
data=[1,2,3,'a','b']
series=pd.Series(data)
print(series)

0    1
1    2
2    3
3    a
4    b
dtype: object

In [3]:
import pandas as pd
data={
    'name':['goks','rithi','vithun','sush','devi'],
    'age':[20,21,20,21,20],
    'hobbys':['movie','cricket','storybook','sighting','talking']
}
df=pd.DataFrame(data)
print(df)

     name  age     hobbys
0    goks   20      movie
1   rithi   21    cricket
2  vithun   20  storybook
3    sush   21   sighting
4    devi   20    talking

In [5]:
import pandas as pd

df=pd.DataFrame({
    'alphabet':['A','A','B','B'],
    'subject':['MATHS','SCIENCE','MATHS','SCIENCE']})

index=pd.MultiIndex.from_frame(df)

multi=pd.Series([85,90,86,91],index=index)

print(multi)

alphabet  subject
A         MATHS      85
          SCIENCE    90
B         MATHS      86
          SCIENCE    91
dtype: int64

In [6]:
print(multi.loc['A'])

subject
MATHS      85
SCIENCE    90
dtype: int64

In [10]:
print(multi.loc[('B','SCIENCE')])

91

In [13]:
print(multi.loc['A':'B'])

alphabet  subject
A         MATHS      85
          SCIENCE    90
B         MATHS      86
          SCIENCE    91
dtype: int64

In [17]:
print(multi.swaplevel())

subject  alphabet
MATHS    A           85
SCIENCE  A           90
MATHS    B           86
SCIENCE  B           91
dtype: int64

In [18]:
print(multi)

alphabet  subject
A         MATHS      85
          SCIENCE    90
B         MATHS      86
          SCIENCE    91
dtype: int64

In [21]:
import pandas as pd

s=pd.Series(['alice','bob'],index=['a','b'])
print(s)

a    alice
b      bob
dtype: object

In [29]:
data={
    'gender':['male','female','male','male','female'],
    'grade':['a','b','a','b', 'a'],
    'score':[80,90,80,81,82]
}
df=pd.DataFrame(data)
print(df)

agg={
    'score':['mean','max']
}

group=df.groupby(['gender','grade']).aggregate(agg)
print(group)

   gender grade  score
0    male     a     80
1  female     b     90
2    male     a     80
3    male     b     81
4  female     a     82
             score
              mean max
gender grade
female a      82.0  82
       b      90.0  90
male   a      80.0  80
       b      81.0  81

In [31]:
data = {
    'Category': ['A', 'A', 'B', 'B', 'A', 'B'],
    'Value': [10, 15, 20, 25, 30, 35]
}
df = pd.DataFrame(data)

agg={
    'Value':['mean','sum','max','min']
}

result=df.groupby(['Category']).aggregate(agg)
print(result)

des=df.describe()
print(des)

              Value
               mean sum max min
Category
A         18.333333  55  30  10
B         26.666667  80  35  20
           Value
count   6.000000
mean   22.500000
std     9.354143
min    10.000000
25%    16.250000
50%    22.500000
75%    28.750000
max    35.000000

In [34]:
d = {'A': [1, 2, 3, 4, 5],
        'B': [10, 20, 15, 25, 30]}
df = pd.DataFrame(d)

res=df.describe()
print(res)

              A          B
count  5.000000   5.000000
mean   3.000000  20.000000
std    1.581139   7.905694
min    1.000000  10.000000
25%    2.000000  15.000000
50%    3.000000  20.000000
75%    4.000000  25.000000
max    5.000000  30.000000

In [35]:
d = {'A': [1, 2, 3, 4, 5],
        'B': [10, 20, 15, 25, 30]}
df = pd.DataFrame(d)

res=df.corr()
print(res)

     A    B
A  1.0  0.9
B  0.9  1.0

In [36]:
import datetime
x = datetime.datetime.now()
print(x)

2025-11-10 21:53:44.980000

In [37]:
import datetime
x = datetime.datetime.now()
print(x.year)			# 2025print(x.strftime("%A"))

2025

In [38]:
import datetime
x = datetime.datetime(2024, 12, 27)
print(x)

2024-12-27 00:00:00

In [39]:
import pandas as pd
date_series = pd.Series(['01-10-2025', '15-10-2025'])
converted_dates = pd.to_datetime(date_series, format='%d-%m-%Y')
print(converted_dates)

0   2025-10-01
1   2025-10-15
dtype: datetime64[ns]

In [40]:
import datetime
current=datetime.datetime.today()
print(current)

2025-11-10 21:56:46.507280

import pandas as pd
data=pd.Series([1,2,3,4,5,6,7,8,9])
summary=pd.describe()
print(summary)

In [50]:
import pandas as pd
data=pd.Series([1,2,3,4,5,6,7])
summary=data.describe()
print(summary)
print(data.mean())
print(data.max())
print(data.min())
print(data.var())

count    7.000000
mean     4.000000
std      2.160247
min      1.000000
25%      2.500000
50%      4.000000
75%      5.500000
max      7.000000
dtype: float64
4.0
7
1
4.666666666666667

In [55]:
import pandas as pd
data={
    'Region': ['North', 'South', 'North', 'South', 'East', 'East'],
    'Category': ['A', 'A', 'B', 'B', 'A', 'B'],
    'Sales': [1200, 800, 1500, 700, 900, 1100]
}

sales=pd.DataFrame(data)
print(sales)

summary=sales.pivot_table(
    values='Sales',
    index='Region',
    columns='Category',
    aggfunc=['mean','sum']
)
print(summary)

  Region Category  Sales
0  North        A   1200
1  South        A    800
2  North        B   1500
3  South        B    700
4   East        A    900
5   East        B   1100
            mean           sum
Category       A       B     A     B
Region
East       900.0  1100.0   900  1100
North     1200.0  1500.0  1200  1500
South      800.0   700.0   800   700

In [56]:
employees = pd.DataFrame({
    'emp_id': [1, 2, 3],
    'name': ['Alice', 'Bob', 'Charlie']
})

salaries = pd.DataFrame({
    'emp_id': [2, 3, 4],
    'salary': [60000, 75000, 50000]
})

merged = pd.merge(employees, salaries, on='emp_id', how='left')
print(merged)

   emp_id     name   salary
0       1    Alice      NaN
1       2      Bob  60000.0
2       3  Charlie  75000.0

In [57]:
df = pd.DataFrame({
    'city': ['Delhi', 'Mumbai', 'Delhi', 'Mumbai', 'Delhi', 'Mumbai'],
    'temperature': [30, 35, 32, 36, 29, 34]
})
result = df.groupby('city')['temperature'].agg(['mean', 'std'])
print(result)

             mean       std
city
Delhi   30.333333  1.527525
Mumbai  35.000000  1.000000

In [58]:
df = pd.DataFrame({
    'City': ['Delhi', 'Chennai', 'Bangalore', 'Mumbai'],
    'Temperature': [35, 38, 30, 33],
    'Humidity': [55, 70, 80, 60]
})

avg_temp = df.loc[df['Humidity'] > 60, 'Temperature'].mean()
print("Average Temperature where humidity > 60:", avg_temp)

Average Temperature where humidity > 60: 34.0